.badge{
    width: 100px;
    height: 80px;
    padding-top: 23px;
}

.navbar-nav{
    display: flex;
    padding:20px;
}

ul li{
        padding: 10px 20px;
}
.nav-link{
    color: rgb(115, 98, 98);
    font-weight: bold;
}
.header{
    height: 70vh;
    background-color: rgb(159, 128, 188);
}

.titre{
    padding-top: 100px;
}

.contact1{
    background-color: rgb(24, 9, 94);
    height: 250px;

}

.form-control{
    border-radius: 5px;
    border: 1px solid rgb(16, 6, 62);
    background-color: rgb(6, 6, 72);
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
}
.bg1{
    background-color:rgb(4, 84, 176) ;
    height: 200px;
    width:300px ;
    position: relative;
    bottom: 400px;
    border-radius: 0 200px 200px 0;
}

.bg2{
    background-color:white;
    height: 200px;
    width:300px ;
    position: relative;
    bottom: 400px;
    border-radius: 0 200px 200px 0;
}
.bg3{
    background-color:white ;
    height: 400px;
    width:200px ;
    position: relative;
    bottom: 730px;
    border-radius: 200px 0 0 200px ;
    left: 68px;
}

.bg4{
    background-color:white;
    height: 80px;
    width:1200px ;
    position: relative;
    bottom: 840px;
    border-radius: 0 200px 200px 0;
}